resources/botbuilder/pluginFunctions.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Plugin">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PluginFunction" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="FunctionName"/>
              <xs:element type="xs:string" name="FunctionDescription"/>
              <xs:element type="xs:byte" name="ExpectedParameters"/>
              <xs:element name="PluginFunctionParameter" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="SequenceId"/>
                    <xs:element type="xs:string" name="ParameterName"/>
                    <xs:element type="xs:string" name="DefaultValue"/>
                    <xs:element type="xs:string" name="ExampleValue"/>
                    <xs:element type="xs:string" name="Description"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>